GPRISM_PROJECT_ID=your-gcp-project-id
GPRISM_IDENTITY=your-gcp-account-email
GPRISM_ENVIRONMENT=prod

# Optional: To support offloading files > 64KB to GCS
GPRISM_GCS_BUCKET=your-secure-gcs-bucket-name
