# Ignore OS files
.DS_Store

# Ignore temporary files
*.tmp
*.enc
*.swp

# Ignore test repositories and settings
/test_repo/
/test/tmp/
.env
test/.env-per-finta
test/subfolder/new_secret.txt

# Gprism runtime cache (contains decrypted secrets!)
.gprism/

# Manual testing artifacts
manual_test/
test.txt
test_script.rb
